<!DOCTYPE html>
<html>
<head>
  <title>Let's be Analytical</title>
  <script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
  <script type="text/javascript">
  $(document).ready(function() {

    /* commonly used jquery objects */
    var $banner    = $('#banner');
    var $dashboard = $('#dashboard');
    
    var userProfile = null;

    /* function to check for user profile data on the server,
      if it exists return the profile */
    function getProfile( done ) {
      $.get('profileData', function( response, success ) {
        if ( success === "success" ) {
          userProfile = response.data || null;
          done();
        }
        /* if not successful nothing happens */
      })
    }

    function loadPage() {
      getProfile(function() {
        console.log(userProfile)
        if ( userProfile === null ) { renderBannerNotLoggedIn(); }
        else { renderBannerLoggedIn(); }
      })
    }
    loadPage();

    function setHeader( text ) {
      $banner.children('h1').text( text );
    }
    function setHeaderPhrase( text ) {
      $banner.children('span').text( text );
    }
    function setHeaderLink( href, text, action ) {
      $banner.children('a')
        .attr('href', href)
        .text(text)

      if (action) {
        $banner.children('a').click(action);
      }
    }
    function toggleWait() {
      $('body').toggleClass('wait');
    }

    /* handlers */
    function handleAuthButtonClick(e) {
      e.preventDefault();
      var popup = window.open('/auth/twitter',"");
      window.onfocus = function(e) {
        window.onfocus = null;
        loadPage();
      }
    }
    /* **** */

    function renderBannerNotLoggedIn() {
      setHeader('You are not logged in.');
      setHeaderPhrase('I really am sorry you have to authenticate. Don\'t worry, what comes next is totally worth it...');
      setHeaderLink( '/auth/twitter',
                      'log in with twitter',
                         handleAuthButtonClick );
    }

    function renderBannerLoggedIn() {
      setHeader('Welcome '+userProfile.name);
      setHeaderLink( '/logout',
                      'logout' );
      if (checkForFollowerData()) {
        renderFollowers();
      } else {
        getFollowerData(function( bool ) {
          if ( bool ) {
            renderFollowers();
            calculateOverallStats();
            renderOverallStats();
          } 
          else {
            setTimeout( renderBannerLoggedIn, 750 );
          }
        });
      }
    }

    function calculateOverallStats() {

    }

    function renderOverallStats() {

    }

    function checkForFollowerData() {
      // hopefully the user has more than 0 followers...
      return (userProfile.followers && userProfile.followers.length > 0);
    }

    function renderFollower( follower ) {
      console.log(follower)
      $followerContainer = $('<div/>');
      $followerImg       = $('<img/>');
      $followerData      = $('<ul/>');

      $followerImg
        .attr( 'src', follower.profile_image_url )
        .attr( 'alt', 'Picture could not be found!' );

      $followerData
        .append( '<li> <b>name: </b>'+ follower.name +'</li>' )

      if (follower.data.face
        && follower.data.face.size == 1) {
        console.log('yep')
        $followerData.append( '<li> <b>race: </b>'+ follower.data.face[0].attribute.race.value +'</li>' )
      }

      $followerContainer
        .append($followerImg)
        .append($followerData)

      $dashboard.append( $followerContainer );
    }

    function renderFollowers() {
      $dashboard.children().remove();
      for (var i in userProfile.followers) {
        renderFollower( userProfile.followers[i] );
      }
    }

    function getFollowerData( done ) {
      $.get('/getFollowerData',function( data, success, response ) {
        console.log(arguments)
        if ( data.followersDataReady === true ) {
          setHeaderPhrase('We have analyzed your followers!');
          userProfile.followers = data.followers;
          done( true );
        } else if ( data.followersDataReady === false ) {
          setHeaderPhrase('We are still processing your followers');
          $.get('/areYouProcessing', function( data, success ) {
            if (data.processing === false) {
              $.post('/refreshUserAnalysis', function() {
                done( false );
              });
            } else {
              done( false );
            }
          })
        } else {
          setHeaderPhrase('Something went wrong checking for your follower-data. Please come back and try again in a few minutes.');
        }
      }) 
    }


  })
  </script>
  <style type="text/css">
    html, body { height: 99%; width: 100%; margin: 0px; padding: 0px;}


    body {
      font-family: 'arial';
    }

    #banner {
      margin-top: 1%;
      height:     10%;
    }
    #dashboard {
      margin-top: 4%;
      min-height: 64%;
    }
    #footer {
      margin-top: 5%;
      height:     5%;
    }

    .section {
      background-color: #BED0FF;
    }

    .follower {
      display: inline-block;
      width: 200px;
      height: 200px;
      margin: 15px;
      background-color: rgba(255,255,255,0.1);
    }
    .follower img {
      width: 200px;
      height: 200px;
    }
</style>
</head>
<body>
  <div id="banner" class="section">
    <h1></h1>
    <a href=""></a>
    <span></span>
  </div>
  <div id="dashboard" class="section">
  </div>
  <div id="footer" class="section"></div>
</body>
</html>