<!DOCTYPE html>
<html>
<head>
  <title>Let's be Analytical</title>
  <script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="/js/index.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
  <div id="banner" class="section">
    <h1></h1>
    <a href="" class="login"></a>
    <span></span>
  </div>
  <div id="summary"></div>
  <div id="dashboard" class="section">
  </div>
  <div id="footer" class="section"></div>
</body>
</html>